    *{
        margin: 0;
        padding: 0;
    }
    .head{
        height: 7vh;
        width: 100%;
        background-color: red;
    }
    ul.header{
        display: flex;
        margin-left: 9%;
        list-style-type: none;
    }
    ul.header li{
        margin: 10px 8px;
    }
