    *{
        margin: 0;
        padding: 0;
    }
    header.head{
        height: 7vh;
        width: 100%;
        background-color: rgb(238, 255, 255);
        position: relative;
    }
    ul.header, ul.mail, ul.contact{
        display: flex;
        margin-left: 9%;
        list-style-type: none;
    }
    ul.header li{
        margin: 12px 8px;
    }
    ul.header li > a{
        color: rgba(0, 0, 0, 0.259);
    }
    ul.header > li a:hover{
        color: rgba(0, 0, 255, 0.508);
    }
    ul.mail, ul.contact{
        position: absolute;
        right: 250px;
        top: 0;
    }
    ul.contact{
        right: 125px;
    }
     ul.mail > li, ul.contact > li{
        margin: 12px 5px;
        font-family: calibri;
     }
     ul.mail li > a, ul.contact li > a{
        color: rgba(0, 0, 0, 0.466);
        text-decoration: none;
     }
     li.envelope > a > i{
        color: rgb(147, 147, 246);
        font-size: 14px;
     }
     header.second{
        height: 15vh;
        width: 100%;
        background-color: red;
     }
    header.second img{

    }

/* git add .
git commit -m "Initial commit"
git push */
